<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="Message">Message</label>
      <input class="form-control"
             name="Message"
             #message>
      <input type="button"
             class="btn btn-primary"
             value="Send"
             (click)="sendChat(message)">
    </div>
  </div>
  <div class="col">
    <div class="card"
         *ngFor="let chat of chat$ | async">
      <div class="card-body">
        <h5 class="card-title">Chat from {{chat.by}} at
          {{chat.at | date:'mediumDate'}} at
          {{chat.at | date:'mediumTime'}}</h5>
        <p class="card-text">{{chat.message}}</p>

      </div>
    </div>
  </div>
</div>
